<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.country_select field.attribute, priority_countries: %w(US IT GB), include_blank: true %>
</div>
